<!-- Client Logos - Inline Just Above Footer -->
<section class="clientele-section  text-center">
<h2 class="mb-4" data-aos="fade-up">Our Clientele</h2>
<div class="client-logos-strip">
    <div class="logo-bar">
    <img src="/images/WFSLLOGO.png" class="client-logo" alt="Well Fluid Services">
    <img src="/images/geil.png" class="client-logo" alt="Green Energy">
    <img src="/images/egbin.png" class="client-logo" alt="Egbin Power">
    <img src="/images/seplat.png" class="client-logo" alt="Seplat Energy">
    <img src="/images/nlng.png" class="client-logo" alt="NLNG">
    </div>
</div>
</section>
