<header>
  <div class="header-container">
    <a href="/" class="logo">EEG Calibrations</a>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/services">Portfolio</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
